#background{
    .modal-container{
        margin: 30px;

        .skill{

            img{
                cursor: pointer;
            }

            .skill1{
                animation: floater 7s ease-in-out 0s infinite;
            }
            
            .skill2{
                animation: floater 4s ease-in-out 0s infinite;
            }
            
            .skill3{
                animation: floater 8s ease-in-out 0s infinite;
            }
            .skill4{
                animation: floater 10s ease-in-out 0s infinite;
            }
            
            .skill5{
                animation: floater 7s ease-in-out 0s infinite;
            }
            
            .skill6{
                animation: floater 5s ease-in-out 0s infinite;
            }
            
            .skill7{
                animation: floater 6s ease-in-out 0s infinite;
            }
            
            .skill8{
                animation: floater 11s ease-in-out 0s infinite;
            }
            
            .skill9{
                animation: floater 9s ease-in-out 0s infinite;
            }
        } 
    }
}

@keyframes floater {
    0%{transform: translateY(0px);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}

