footer{

    .iconify {
        margin: 0 5px;
        font-size: 3rem;
    }

    .icon-attribute{
        font-size: 0.8rem;
    }

    .footer-links{

        a{
            margin: 0 10px;
        }
    } 

    li{
        display: inline;
    }


}

